.container {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
  }
  
  .container h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: gray;
    margin-bottom: 30px;
  }
  
  .stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
    color: black;
  }
  
  .statCard {
    background: white;
    border: 1px solid #eee;
    padding: 20px;
    border-radius: 10px;
    color: black;
  }
  
  .statCard h2 {
    margin-top: 10px;
    color: rgb(255, 0, 0);
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    color: black;
  }
  
  .card {
    background: white;
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 25px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
  }
  
  .card h2 {
    margin-bottom: 10px;
    color: blue;
  }
  
  .card p {
    color: gray;
  }

  .innerCard {
    border: 1px solid #e5e5e5;
    border-radius: 12px;
    padding: 20px;
    margin: 20px 0;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .innerCard:hover {
    transform: translateY(-2px);
  }